.main {
  padding-top: 10px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.setting {
  height: 4.5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  align-items: center;
}